
$neon_blue: #1FF4EE;
$neon_pink: #F30093;
$neon_light_pink: #fa52b7;

$skill_blue_dark: #151E3D;
$skill_blue_medium: #2832C2;
$skill_blue_light: #63C5DA;

// $underline_pink_1: #FF1694;
// $underline_pink_2: #FC46AA;
// $underline_pink_3: #F699CD;

$underline_pink_1: #FF1694;
$underline_pink_2: #f1adff;
$underline_pink_3: #6ee9ff;