
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a, p, h1, h2, h3, h4, h5, h6 {
    color: white;
    text-transform: lowercase;
}

.header_underline {
    display: inline-block;
    width: auto;
    color: white;
    font-family: 'Major Mono Display', sans-serif;
    font-size: 5rem;
    text-transform: lowercase;
    text-align: center;

    &::after {
        content: "";
        display: block;
        background-color: $neon_pink;
        width: 120%;
        margin-left: -10%;
        border-radius: 5px;
        height: 10px;
    }
}

