@import "_colors.scss";
@import "_keyframes.scss";
@import "_universal_styles.scss";


body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Major Mono Display','Libre Franklin', sans-serif;
}

header {
    padding: 20px 20px 0;
    overflow: hidden;


    .title_image_container {
        .header_box {
            display: flex;
            width: 100%;
            height: auto;
            align-items: center;
            h1 {
                display: inline-block;
                text-transform: uppercase;
                font-size: 5rem;
                margin: 0;
                width: auto;
                color: white;
                font-family: 'Libre Franklin', sans-serif;
            }
    
            .vanish_box {
                width: 100%;
                height: 30px;
                margin: 0 10px;
                background-color: white;
                animation-name: vanishBox;
                animation-duration: 1s;
                animation-delay: 1s;
                animation-fill-mode: forwards;
            }

            #header_surname {
                color: $neon_pink;
                animation-name: alignBreeze;
                animation-delay: 2s;
                animation-duration: 1s;
                animation-fill-mode: forwards; 
            }
        }

        .skye_pixel_container {
            .skye_pixel_group {
                opacity: 1;
                display: none;
                // width: auto;

                .skye_pixel {
                    opacity: 1;
                }
            }
        }
    }

    .slide_in_left {
        animation-name: slideInFromLeft;
        animation-duration: 1s;
    }

    .slide_in_right {
        animation-name: slideInFromRight;
        animation-duration: 1s;
    }

    .underlines {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        height: 70px;
        justify-content: space-between;

        span {
            opacity: 0;
            display: block;
            height: 10px;
            width: 100%;
            // margin-bottom: 20px;
            // background-color: $neon_light_pink;
            border-radius: 5px;
            animation-fill-mode: forwards;
            animation-duration: 1s;    
        }

        .line_one {
            background-color: $underline_pink_1;
            animation-name: fadeInLineOne;
            width: 100%;
            animation-delay: 0.5s;
        }
        .line_two {
            background-color: $underline_pink_2;
            animation-name: fadeInLineTwo;
            width: 70%; 
            height: 8px;
            animation-delay: 1s;
        }
        .line_three {
            background-color: $underline_pink_3;
            animation-name: fadeInLineThree;
            width: 80%;    
            height: 10px;
            animation-delay: 1.5s;
        }
    }

    .navigation_container {
        margin: 20px 0;
        a {

            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            position: relative;
            text-transform: lowercase;
            font-family: 'Major Mono Display', sans-serif;
            font-size: 3rem;
            padding: 10px 0;
            margin: 25px 0;
            color: white;
            text-decoration: none;
            background-color: black;
            border: solid 3px $neon_pink;
            border-radius: 10px;
            transition: all .25s;
            transform: rotateY(90deg);
            transform-origin: right;
            animation: rotateIn 1s forwards;

            &:hover {
                border-color: $neon_blue;
            }

        }

        .nav_item_1 {
            margin-top: 0px;
            animation-delay: 1s;
        }
        .nav_item_2 {
            animation-delay: 1.5s;

        }
        .nav_item_3 {
            animation-delay: 2s;
            
        }
        .nav_item_4 {
            animation-delay: 2.5s;

        }
        .nav_item_5 {
            animation-delay: 3s;
        }
    }
}

body {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 25.2.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23222;stroke-width:2;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cline class='st0' x1='0' y1='0' x2='50' y2='50'/%3E%3Cline class='st0' x1='0' y1='25' x2='50' y2='25'/%3E%3C/svg%3E%0A");
    background-size: 50px;

    .about_me_container {
        width: 100%;
        margin: 0 auto;

        .about_header_container {
            text-align: center;
        }

        .about_content {

            .about_me_image {
                width: 100%;
                padding: 0 20px;
                --border_offset: 30px;
                margin-bottom: 30px;
    
                .image_content {
                    display: flex;
                    flex-direction: row;
                    position: relative;

                    img {
                        width: 100%;
                        z-index: 10;
                        padding: 10px;
                        border-bottom-left-radius: 30px;
                        border-top-right-radius: 30px;
                    }
                    div {
                        position: absolute;
                        display: block;
                    }
                    .top_left_border {
                        background-color: $neon_blue;
                        top: 0;
                        left: 0;
                        right: var(--border_offset);
                        bottom: var(--border_offset);
                    }
                    .bottom_right_border {
                        background-color: $neon_pink;
                        top: var(--border_offset);
                        left: var(--border_offset);
                        right: 0;
                        bottom: 0;
                    }
                }
            }
            .wasd {
                display: none;
            }
            .about_me_info {
                width: 100%;
                padding: 0 20px;
                --border_offset: 30px;
    
                .text_container {
                    display: flex;
                    flex-direction: row;
                    position: relative;
                    height: 100%;
                    justify-content: center;
    
                    p {
                        text-align: center;
                        color: white;
                        margin: 10px;
                        padding: 30px;
                        display: block;
                        z-index: 1;
                        font-size: 2.4rem;
                        line-height: 3.5rem;
                        font-family: 'Major Mono Display', sans-serif;
                        text-transform: lowercase;
                        background-color: black;
                    }
                    div {
                        position: absolute;
                        display: block;
                    }
                    .top_left_border {
                        background-color: $neon_blue;
                        top: 0;
                        left: 0;
                        right: var(--border_offset);
                        bottom: var(--border_offset);
                    }
                    .bottom_right_border {
                        background-color: $neon_pink;
                        top: var(--border_offset);
                        left: var(--border_offset);
                        right: 0;
                        bottom: 0;
                    }
                }
            } 
        }
    }

    .skill_container {
        width: calc(100vw - 18px);
        margin: 0 auto;

        .skill_width_container {
            padding: 0 20px;
            .skill_header_container {
                text-align: center;
                h2 {
                    color: white;
                    font-size: 5rem;
                }
            }
            .skill_item_container {
                .skill_item {
                    margin-bottom: 50px;
                    padding: 0 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;

                    .skill_icon {
                        height: 200px;
                        width: 200px;
                        margin: 0 auto;
                        position: relative;
                        --arrow_size: 30px;
                        
                        [class*=_arrow] {
                            position: absolute;
                        }

                        img {
                            display: block;
                            max-width: 100%;
                            max-height: 100%;
                            padding: 10px;
                            margin: 0 auto;
                        }

                        .top_left_arrow,
                        .top_right_arrow,
                        .bottom_left_arrow,
                        .bottom_right_arrow {
                            display: none;
                        }
                        .top_left_arrow {
                            top: 0;
                            left: 0;
                            border-top: var(--arrow_size) solid white;
                            border-right: var(--arrow_size) solid transparent;
                        }
                        .top_right_arrow {
                            top: 0;
                            right: 0;
                            border-top: var(--arrow_size) solid white;
                            border-left: var(--arrow_size) solid transparent;
                        }
                        .bottom_left_arrow {
                            bottom: 0;
                            left: 0;
                            border-bottom: var(--arrow_size) solid white;
                            border-right: var(--arrow_size) solid transparent;
                        }
                        .bottom_right_arrow {
                            bottom: 0;
                            right: 0;
                            border-bottom: var(--arrow_size) solid white;
                            border-left: var(--arrow_size) solid transparent;
                        }
                    }
                    .skill_title {
                        margin: 0 auto;
                        h3 {
                            display: inline-block;
                            text-align: center;
                            font-family: 'Libre Franklin', sans-serif;
                            text-transform: uppercase;
                            color: white;
                            padding: 0;
                            font-size: 5rem;
                            letter-spacing: 3px;
                            margin: 10px 0;
                            
                            &::after {
                                content: "";
                                display: block;
                                width: 120%;
                                height: 10px;
                                border-radius: 5px;
                                margin-left: -10%;
                                background-color: $neon_blue;
                                animation: underlineSwitch 10s infinite;
                            }
                        }
                    }
                    .skill_text {
                        text-align: center;
                        width: 100%;
                        font-size: 2rem;
                        padding: 0;           
                    }
                }
            }
        }
    }

    .projects_container {
        width: calc(100vw - 18px);
        margin: 0 auto;

        .projects_width_container {
            padding: 0 20px;

            .projects_header_container {
                text-align: center;
                h2 {
                    color: white;
                    font-size: 5rem;
                }
            }
            .projects_item_container {

                .project {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    justify-content: center;
                    padding: 10px;
                    margin-bottom: 50px;
                    --border_offset: 50px;
                    text-align: center;

                    & > * {
                        background-color: black;
                    }
                    
                    .project_title {
                        font-size: 3.5rem;
                        z-index: 1;
                        border-top-right-radius: var(--border_offset);
                        padding: 0 20px;
                    }
                    .project_visual {
                        z-index: 1;
                        display: flex;
                        justify-content: center; 
                        padding: 10px 20px 0;

                        img {
                            text-align: center;
                            margin: 0 auto;
                            height: 50vw;
                        }
                    }
                    .project_annotation {             
                        font-size: 2rem;
                        padding: 0 40px;
                        z-index: 1;
                    }
                    .project_link {
                        z-index: 1;
                        padding-bottom: 20px;
                        border-bottom-left-radius: var(--border_offset);

                        a {
                            text-decoration: none;
                            line-height: 6rem;
                            font-size: 2rem;
                            padding: 10px;
                            background-color: $neon_pink;
                            border-radius: 5px;
                            font-weight: bold;

                            &:hover {
                                background-color: $neon_light_pink;
                            }
                        }
                    }
                    .top_left_border {
                        position: absolute;
                        background-color: $neon_blue;
                        top: 0;
                        left: 0;
                        right: var(--border_offset);
                        bottom: var(--border_offset);
                    }
                    .bottom_right_border {
                        position: absolute;
                        background-color: $neon_pink;
                        top: var(--border_offset);
                        left: var(--border_offset);
                        right: 0;
                        bottom: 0;
                    }
                }

                .typing_effect_project {

                    .project_visual {
                        p {
                            display: none;
                            padding: 0 20px;
                            font-size: 20px;
                            color: rgb(34, 194, 34);
                            font-size: 2rem;
                        }
                        p:first-of-type {
                            display:block;
                        }
                        #demo_button {
                            background-color: green;
                        }
                    }
                }

                .php_project {

                    .project_visual {
                        
                        .image_container {
                            width: 100%;
                            height: 50vh;
                            overflow: auto;

                            img {
                                // border: solid 3px white;
                                width: 100%;
                                height: auto;
                            }

                            #small_view,
                            #medium_view,
                            #desktop_view {
                                display: none;
                            }
                        }

                        .landscape {
                            height: 50vw;
                        }
                    }
                }

                .collaboration_project {

                    .project_visual {
                        img {
                            width: 100%;
                            height: auto;
                            margin: 0 20px;
                        }
                    }
                }
            }
        }
    }

    .hobbies_container {
        width: calc(100vw - 18px);
        margin: 0 auto;

        .hobbies_width_container {
            padding: 0 20px;
            text-align: center;
            --border_offset: 50px;

            .hobbies_item_container {
                .hobbie_item {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    padding: 10px;
                    margin-bottom: 50px;

                    & > * {
                        background-color: black;
                    }
                    .hobbie_icon {
                        --icon_border_color: white;
                        z-index: 1;
                        background-color: black;
                        padding: 20px;
                        
                        @import "Hobbies_Icon_Styles/_game_controller.scss";
                        @import "Hobbies_Icon_Styles/_popcorn.scss";
                        @import "Hobbies_Icon_Styles/_tech_lines.scss";

                    }

                    h4 {
                        z-index: 1;
                        margin: none;
                        padding: none;
                        font-size: 5rem;
                        text-transform: lowercase;
                        line-height: 5rem;
                        padding: 40px 0 20px;
                        margin: 0;
                        border-top-right-radius: var(--border_offset);
                    }

                    .hobbie_text {
                        z-index: 1;
                        padding: 0 20px;
                        border-bottom-left-radius: var(--border_offset);

                        p {
                            font-size: 2rem;
                        }
                    }
                    

                    .top_left_border {
                        position: absolute;
                        background-color: $neon_blue;
                        top: 0;
                        left: 0;
                        right: var(--border_offset);
                        bottom: var(--border_offset);
                    }
                    .bottom_right_border {
                        position: absolute;
                        background-color: $neon_pink;
                        top: var(--border_offset);
                        left: var(--border_offset);
                        right: 0;
                        bottom: 0;
                    }
                }
            }
        }
    }

    .contact_container {
        width: calc(100vw - 18px);
        margin: 0 auto;

        .contact_width_container {
            padding: 0 20px;
            text-align: center;

            .contact_content {
                display: flex;
                flex-direction: column;
                position: relative;
                justify-content: center;
                --border_offset: 50px;
                padding: 10px;

                .contact_header_container {
                    border-top-right-radius: 50px;
                    background-color: black;
                    z-index: 50;
                    .header_underline::after {
                        width: 100%;
                        margin-left: 0;
                    }
                }
    
                .details_container {
                    z-index: 50;
                    border-bottom-left-radius: 50px;
                    background-color: black;
                    .block {
                        margin-bottom: 30px;

                        a:hover {
                            color: white;
                            padding: 10px 20px;
                            border-radius: 5px;
                        }

                        .twitter_link:hover {
                            background-color: #1DA1F2;

                        }
                        .instagram_link:hover {
                            background-color: #8a3ab9;
                        }
                    }
                }
    
                .top_left_border {
                    position: absolute;
                    background-color: $neon_blue;
                    top: 0;
                    left: 0;
                    right: var(--border_offset);
                    bottom: var(--border_offset);
                }
    
                .bottom_right_border {
                    position: absolute;
                    background-color: $neon_pink;
                    top: var(--border_offset);
                    left: var(--border_offset);
                    right: 0;
                    bottom: 0;
                }
            }
           
        }
    }
}

footer {
    margin-top: 50px;
    width: calc(100vw - 18px);

    .footer_width_container {
        padding: 0 20px;
        text-align: center;
        a {
            background-color: black;
            padding: 10px 20px;
            border: solid 3px $neon_pink;
            border-radius: 5px;
            font-size: 2.4rem;

            &:hover {
                border-color: $neon_blue;
            }
        }

        .footer_links_container {
            margin-top: 35px;
            display: flex;
            flex-direction: column;

            a {
                margin-bottom: 20px;
            }
        }
    }
}

@import "_media.scss";